// styles.scss
.aniket_blue_cont {
    padding-left: 20px;
    padding-top: 115px;

    p {
        font-family: Inter;
        font-size: 29.65px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 45px;
    }

    .aniket_flex {
        gap: 33px;
        padding-bottom: 105px;

        > div {
            margin-top: 30px;

            div > span {
                font-family: Inter;
                font-size: 13.45px;
                font-weight: 400;
                line-height: 18.2px;
                text-align: left;
                color: #FFFFFF;
            }

            div {
                margin-top: 30px;
            }

            p {
                font-family: Inter;
                font-size: 17.3px;
                font-weight: 500;
                line-height: 27px;
                text-align: left;
                color: #FFFFFF;
                width: 330px;
                height: 51px;
                margin-top: 15px;
            }
        }
    }

    .aniket_trip_button {
        width: 62.17px;
        height: 36.25px;
        border-radius: 200px;
        font-family: Inter;
        font-size: 13.56px;
        font-weight: 500;
        line-height: 26.25px;
        text-align: center;
        background-color: #FFFFFF;
        border: none;
        color: #05073C;
        position: relative;
        top: -485px;
        left: 16px;
    }

    .aniket_trip_button1 {
        width: 62.17px;
        height: 36.25px;
        border-radius: 200px;
        font-family: Inter;
        font-size: 13.56px;
        font-weight: 500;
        line-height: 26.25px;
        text-align: center;
        background-color: #FFFFFF;
        border: none;
        color: #05073C;
        position: relative;
        top: -485px;
        left: 722px;
    }

    .aniket_trip_button2 {
        width: 62.17px;
        height: 36.25px;
        border-radius: 200px;
        font-family: Inter;
        font-size: 13.56px;
        font-weight: 500;
        line-height: 26.25px;
        text-align: center;
        background-color: #FFFFFF;
        border: none;
        color: #05073C;
        position: relative;
        top: -485px;
        left: 270px;
    }

    .Aniket_see_all {
        width: 44.79px;
        height: 28.13px;
        font-family: Inter;
        font-size: 14.3px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        color: #FFFFFF;
        position: relative;
        top: -575px;
        left: 855px;
    }
    .Aniket_see_all:hover {
        text-decoration: underline;
      }
}

.Aniket_contact {
    width: 439.98px;
    height: 390px;
    margin-top: 60px;
    margin-left: 20px;
  
    > span:nth-child(1) {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: #05073C;
    }
  
    > p {
        font-family: Inter;
        font-size: 14.41px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        width: 356.62px;
        height: 48.12px;
        color: #05073C;
        margin-top: 29px;
        margin-bottom: 18px;
    }
  
    > span:nth-child(2) {
        width: 117.01px;
        height: 20px;
        font-family: Inter;
        font-size: 14.88px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        color: #05073C;
    }
  }
  
  .Aniket_contact2 {
    width: 128.23px;
    height: 390px;
    margin-top: 60px;
    margin-left: 60px;
  }
  
  .Aniket_company {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    width: 91.47px;
    height: 30px;
    margin-bottom: 29px;
  }
  
  .Aniket_company_content {
    font-family: Inter;
    font-size: 14.18px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    width: 98.43px;
    height: 20px;
    color: #05073C;
    margin-bottom: 18px;
  }
  
  .Aniket_contact3 {
    width: 128.23px;
    height: 390px;
    margin-top: 60px;
    margin-left: 60px;
  }
  
  .Aniket_contact4 {
    width: 330px;
    height: 390px;
    margin-left: 60px;
    margin-top: 60px;
  
    > div:nth-child(2) {
        font-family: Inter;
        font-size: 14.65px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        width: 287.56px;
        height: 48.12px;
        color: #05073C;
        margin-top: 24px;
    }
  
    > div:nth-child(3) {
        width: 300px;
        height: 60px;
        top: 136.25px;
        left: 15px;
        padding: 20px 21px;
        border-radius: 12px;
        border: 1px solid #E7E6E6;
        margin-top: 14px;
    }
  }
  
  .Aniket_textbox {
    font-family: Inter;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 17.59px;
    text-align: left;
    color: #757575;
    border: none;
    width: 133.43px;
    height: 20px;
  }
  
  .Aniket_list {
    padding-top: 30px;
  
    > ul {
        list-style-type: none;
  
        li {
            font-family: Inter;
            font-size: 14.88px;
            font-weight: 400;
            line-height: 28.13px;
            text-align: left;
            width: 88.84px;
            height: 28.13px;
            color: #05073C;
        }
    }
  
    > p {
        font-family: Inter;
        font-size: 19.69px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        width: 117.61px;
        height: 30px;
        color: #05073C;
    }
  }
  
  .aniket_pics {
    padding-top: 24px;
    padding-bottom: 40px;
  
    > div:nth-child(1) {
        font-family: Inter;
        font-size: 14.53px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: left;
        width: 186.81px;
        height: 20px;
        color: #05073C;
    }
  
    > div:nth-child(2) {
        margin-right: 20px;
  
        > img {
            width: 48px;
            height: 24px;
        }
    }
  }
  
  .aniket_send {
    > a {
        font-family: Inter;
        font-size: 14.53px;
        font-weight: 400;
        line-height: 28.13px;
        text-align: center;
        width: 35.45px;
        height: 20px;
        color: #05073C;
        text-decoration: none;
        position: relative;
        top: -192px;
        left: 250px;
    }
  }
  
  .aniket_upper_footer {
    height: 185.13px;
    border-bottom: 1px solid #EB662B26;
  
    > div:nth-child(1) {
        font-family: Inter;
        font-size: 19.69px;
        font-weight: 500;
        line-height: 37.5px;
        text-align: left;
        width: 400px;
        height: 26px;
        color: #05073C;
        margin-top: 94px;
  
        > span {
            font-family: Inter;
            font-size: 19.69px;
            font-weight: 500;
            line-height: 37.5px;
            text-align: left;
            color: #4A43C4;
        }
    }
  
    > div:nth-child(2) {
        font-family: Inter;
        font-size: 16.2px;
        font-weight: 500;
        line-height: 31.88px;
        text-align: left;
        width: 74.72px;
        height: 31.88px;
        color: #05073C;
        margin-top: 84px;
    }
  }
  
